* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
}

#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin-top: 2em;
}

#app div .bi-cpu-fill {
    font-size: 10em;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

article input {
    margin: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

article div {
margin: 0px;
}

article i {
font-size: 20px;
}

article button {
    margin-top: 25px;
    padding: 6px;
    width: 50%;
    border-radius: 15px;
}

.correcto button {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 6px;
    width: 50%;
    border-radius: 15px;
}